<h3>Catégorie de fournisseur</h3>
<p class="text-justify">Les catégories de fournisseurs permettent la classification de ceux-ci afin de permettre une recherche plus
    aisée. Un fournisseur peut être associé à plusieurs catégories.
</p>
<dl>
    <dt>Nom complet</dt>
    <dd>Nom descriptif de la catégorie.</dd>
    <dt>Description</dt>
    <dd>Description complète de la signification de la catégorie.</dd>
</dl>
